@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.post{
    border-style: solid;
    border-color: #14171A;
    font-family: 'Roboto', sans-serif;
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
}
.post .postOwner{
      margin-left: 2%;  
      color: #14171A;
      width: 33.3%;

}

.post .postDate{
    margin-left: 2%;
    font-size: 10px;  
    margin-top: 0%;
    width: 33.3%;

}

.post .postContent{
    margin-left: 2%;
    color: #14171A;

}

.button{
    margin-left: 1%;
    width: 33.3%;
    text-align: center; 
    color: #657786;
    cursor: pointer;
    border-color: #14171A;
    background-color: #F5F8FA;

}
.button:hover{
    color: #1DA1F2;
    background-color: #E1E8ED;
    cursor: pointer;
}

hr{
    color: #14171A;
}

.postInteractionButtons{
    display: flex;
    text-align: center;
}